.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-sarif"
} 
.container{
  background-color: blue; 
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.container::after{
  background: rgba(0, 0, 0, 6);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  height: 60px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
